<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Gopherbot - Gophers LATAM</title>
  <link rel="shortcut icon" type="image/x-icon" href="/favicon.ico">
  <script src="./js/jquery.min.js"></script>
  <script src="./js/index.js"></script>
  <link rel="stylesheet" href="./css/bootstrap.min.css" />
  <link rel="stylesheet" href="./css/style.css" />
</head>

<body>
  <div class="container col-sm-6 col-sm-offset-3">
    <div style="text-align: center;">
      <h4>Envía challenge al Gopherbot</h4> en 
      <a class="alink" href="https://discord.gg/AEarh2kSvn" target="_blank"><b>Gophers LATAM</b></a>
      <img src="./img/gophers-latam.png" height="48" alt="Gophers LATAM">
    </div>

    <form>
      <div id="description-group" class="form-group">
        <label for="description">Descripción:</label>
        <textarea class="form-control" id="description" rows="3" maxlength="5000" required></textarea>
      </div>

      <div id="level-group" class="form-group">
        <label for="level">Nivel de dificultad:</label>
        <select class="form-select" id="level" required>
          <option value="">- Seleccionar -</option>
          <option value="easy">Easy</option>
          <option value="medium">Medium</option>
          <option value="hard">Hard</option>
        </select>
      </div>

      <div id="challengetype-group" class="form-group">
        <label for="challengetype">Tipo relacionado de desafío:</label>
        <select class="form-select" id="challengetype" required>
          <option value="">- Seleccionar -</option>
          <option value="backend">Backend</option>
          <option value="algorithm">Algorithm</option>
          <option value="concurrency">Concurrency</option>
          <option value="database">Database</option>
          <option value="web">Web</option>
          <option value="cli">CLI</option>
          <option value="frontend">Frontend</option>
        </select>
      </div>
      <br>
      <div style="text-align: center;">
        <button type="submit" class="btn btn-success">ENVIAR</button>
      </div>
    </form>
    <br>

    <div class="full-height">
      <p class="p-center"><b>Comandos</b></p>
      <b>sub-cmd: </b>
      <ul>
        <li><b>bot</b> - llamar al bot</li>
        <li><b>.go</b> - saludo del bot</li>
        <li><b>.go help</b> - ver sub-comandos generales disponibles</li>
        <li><b>.go awesome</b> - recursos comunidad</li>
        <li><b>.go challenge</b> - pedir desafio para practicar</li>
        <li><b>.go facts</b> - chistes internos de la comunidad, ejecutalo y te sorprenderas</li>
        <li>...</li>
      </ul>
      <br>
      <b>slash-cmd: </b>
      <ul>
        <li><b>/bot</b> - llamar al bot saludando</li>
        <li><b>/help</b> - ver sub-comandos generales disponibles</li>
        <li><b>/challenge</b> - pedir desafio para practicar</li>
        <li><b>/challenge_help</b> - ver ayuda sub-comando .go challenge</li>
        <li>...</li>
        </li>
      </ul>
      <div align="center">
        <p class="p-center f16">
          <a class="alink"
            href="https://discord.com/oauth2/authorize?client_id=767979098768408586&permissions=277025393664&scope=bot"
            target="_blank"><b><u>+add Gopherbot</u></b></a>
        </p>
      </div>
    </div>
  </div>
</body>

</html>
